.icon-button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    height: 44px;
    width: 44px;

    &:hover {
        border: 1px solid var(--sohoLights);
		border-radius: 5px;
    }
}