/* Octopus Energy brand colours used in the design */
:root {
  --hemocyanin: #180048;
  --ice: #f0ffff;
  --plum: #600e6b;
  --purpleHaze: #a49fc8;
  --siphon: #100030;
  --sohoLights: #f050f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  color: var(--ice);
}

body {
  background: var(--siphon);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: 0;
}

.skip-link:focus {
  background-color: white;
  border: 1px solid var(--hemocyanin);
  border-radius: 90px;
  padding: 0.5rem;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ice);
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.25rem;
}

// Utility classes
.bg-hemocyanin {
  background-color: var(--hemocyanin);
}

.bg-siphon {
  background-color: var(--siphon);
}

.container {
    margin: 1rem 0;
    padding: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.color-purple-haze {
  color: var(--purpleHaze);
}