.heroImageContainer {
    @media screen and (max-width: 1280px) {
        margin: 2rem 0 0;
        padding: 0 1rem;
      
    }
}

.priceRow {
	  display: flex;
    justify-content: space-between;
}

.price {
    align-self: flex-end;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}